doctype html
html
  head
    title= title
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css', rel='stylesheet')
    link(href='/stylesheets/main.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='/javascripts/typed.js')
    script(src='/javascripts/results.js')

  body
    block content

