extends layout

doctype html
html
    head

    body
      block content
        h1
          .row
            .col.s4.offset-s4
              .card.shadow.blue.lighten-5
                .card-content.black-text
                  span.card-title.welcome Woku
                  hr
                  img#woku(src='/images/woku.png', alt='')
                  br
                  p.welcome Login to get started
                  a.welcome(href="/auth/twitter/")
                    button(type="button")
                      span Login with Twitter